<template>
  <div class="slds-grid slds-wrap">
    <div class="slds-col slds-size_4-of-4">
      <div>
        <lightning-input
          variant="label-hidden"
          label="Search Record"
          value={searchKey}
          type="search"
          onchange={handleChange}
          placeholder="Hae"
        >
        </lightning-input>
      </div>
    </div>
  </div>
</template>
